{% extends "layout.html" %}

{% block content %}

<title>File Upload</title>

<h1>File Upload</h1>
<form action="" enctype='multipart/form-data' method='POST'>
    <h3>Select the file and Click Upload:</h3> 
        <div display:flex>
            <input type="file" name="file"/>
            <input type="submit" value="Submit" class="button-new" display="inline-block"/>
        </div>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% if message == 'File successfully uploaded' %}
            <li><a href={{url_for('file_uploader.create_file', file=file)}}>add to DB</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </p>
</form>

{% endblock %}