{% extends "layout.html" %}
{% block content %}

    <h1>
        File Management
    </h1>
    <form action="" method="POST">
        <input type="text" name="file_name">
        <select name="op">
            <option value ="open">open</option>
            <option value ="delete">delete</option>
        </select>
        <input type="submit" value="Go">
    </form>
    <form style="text-align:left"action=''>
        <pre style="white-space: pre-wrap;word-wrap: break-word;font-family: consolas;font-size: 15px;"id="output">{{result}}</pre>
    </form>

{% endblock %}