<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - News Analyzer</title>
    <link rel="stylesheet" type="text/css" href="static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/content/v13.css" />
    <script src="static/scripts/modernizr.js"></script>
    <script src="static/scripts/jquery-1.10.2.js"></script>
    <script src="static/scripts/bootstrap.js"></script>
    <script src="static/scripts/respond.js"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:black;">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('file_uploader.index')}}">File Uploader</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('file_management.index')}}">File Management</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('nlp_analyzer.index') }}">NLP Results</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('news_ingester.index') }}">News Ingester</a>
                </li>
              </ul>
            </div>
          </nav>
    </div>
    

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - News Analyzer</p>
        </footer>
    </div>
 
    {% block scripts %}{% endblock %}

</body>
</html>
