{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Ingester</title>
</head>
<body>
    <h1>
        News Ingester
    </h1>

    <form action='news_ingester/articles' method="POST">
        <input type="text" placeholder="Enter a search term" name='keyword'>
        <button type="submit">Get News</button>


    </form>


    {% for post in news %}
    <h2>{{post['title']}}</h2>
    <i>{{post['publishedAt']}}</i>
    <p>{{post['description']}}</p>
    {% endfor %}


</body>
</html>

{% endblock %}